*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
.wrap{
    width:1000px;
    margin: 100px auto;
}
table{
    width:100%;
    text-align:center;
    border-collapse: collapse;
}
table td,table th{
    height:40px;
}
ul{
    display: inline-block;
}

ul li{
    display: inline-block;
    padding:6px 12px;
    border:1px solid #ccc;
}

ul li.active{
    background: pink;
    color:#fff;
}
.page button{
    padding:6px 12px;
}

.page select,.page input{
    height:34px;
}

.page {
    margin-top: 20px;
}
